@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url('../src/assets/img/sneak-check.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* =================NAVBAR================================================*/

header {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  z-index: 10000;
}

.link-shadow:hover {
  text-shadow: 0 10px 10px rgba(255, 255, 255, 0.5);
}
.navbar_container {
  box-shadow: 0 0 15px 5px rgba(86, 82, 77, 0.4);
  margin: 20px;
}

.nav_collapse {
  left: auto;
  width: 150px;
  box-shadow: 0 0 15px 5px rgba(199, 148, 148, 0.4);
  background-color: rgba(255, 255, 255, 0.367);
  backdrop-filter: blur(5px);
  margin-top: 10px;
  padding: 20px;
  z-index: 10000;
}
/* =================REGISTER + SIGN-IN================================================*/
.register_container {
  background-color: rgba(43, 43, 43, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  width: 25rem;
}

.register_btn {
  padding: 5px;
  background-color: rgba(190, 190, 190, 0.617);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 15px;
}

.register_btn:hover {
  box-shadow: 0 0 10px 3px rgba(255, 255, 255);
  transition: box-shadow 0.1s ease-in;
}

.error_size {
  height: 100vh;
}

.noError_size {
  height: 82vh;
}

/* =================SIGN-IN================================================*/

.signin_container {
  background-color: rgba(43, 43, 43, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  margin-top: 5vh;
  height: 80vh;
  width: 25rem;
  margin: 30px;
}

/* =================PROFILE================================================*/

.profile_container {
  box-shadow: 0 0 15px 15px rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.788);
  overflow: hidden;
  border-radius: 7rem;
  height: 95vh;
  width: 30rem;
  padding: 25px;
  backdrop-filter: blur(10px);
}

.profile_img {
  box-shadow: 0 0 3rem rgba(255, 255, 255, 0.5);
}

.update_btn {
  padding: 5px;
  background-color: rgba(190, 190, 190, 0.617);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 15px;
  transition: box-shadow 0.3s ease;
}

.update_btn:hover {
  box-shadow: 0 0 10px 3px rgba(255, 255, 255);
}

.account_out:hover,
.account_dlt:hover {
  text-shadow: 0 0 20px rgb(202, 105, 105);
}

.upload_btn {
  padding: 5px;
  background-color: rgba(245, 199, 199, 0.617);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 15px;
  transition: box-shadow 0.3s ease;
}
.upload_btn:hover {
  box-shadow: 0 0 10px 3px rgba(245, 199, 199, 0.617);
}

/* =================SNEAKER-UPLOAD================================================*/
.upload_container {
  box-shadow: 0 0 15px 15px rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.788);
  overflow: hidden;
  border-radius: 7rem;
  height: 200vh;
  width: 30rem;
  padding: 25px;
  backdrop-filter: blur(10px);
}

.map-container {
  float: right;
  height: 400px;
  width: 400px;
  border-radius: 4rem !important;
  margin: 20px;
  box-shadow: 0 0 15px 15px rgba(255, 255, 255, 0.4);
}
